:root {
    --green: rgb(148, 230, 163);
    --blue: rgb(115, 192, 255);
    --pink:rgb(255, 159, 191);
    --purple: rgb(205, 152, 255);
    --orange: rgb(255, 157, 45);
    --beige: rgb(255, 255, 237);
}

/* Esqueleto de la consola */

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;   
}

.full {
    margin: 2em;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* CHAIN */

.chain {
    height: 15em;
    background-color: blueviolet;
}

.up-chain {
    width: 2.4rem;
    height: 0.9rem;
    background-color: grey;
}

.row-circle {
    width: 5.2rem;
    height: 0.85rem;
    display: flex;
    justify-content: space-between;
}

.row-square {
    width: 4rem;
    height: 0.3rem;
    display: flex;
    justify-content: space-between;
}

.down-chain {
    display:flex;
    align-items: flex-start;
    transform: translate(0, 12.3rem);
}

.circle-chain {
    width: 0.85rem;
    height: 0.85rem;
    border-radius: 50%;
    background-color: grey;
}

.square-chain {
    width: 0.2rem;
    height: 0.3rem;
    background-color: grey;
}

.fix-chain {
    width: 0.5rem;
    height: 1.6rem;
    background-color: grey;
}


/* EARS */ 

.ears {
    height: 6em;
    width: 13em;
    display: flex;
    justify-content: space-between;
    margin-top: -2em;
    z-index: 1;
}

.right-ear, .left-ear {
    width: 4em;
    height: 8em;
    background-color: var(--green)
}

.left-ear {
    border-radius: 30% 100% 10% 120% / 20% 40% 100% 130%;
    transform: rotate(20deg);
    background: linear-gradient(-60deg,#3e9e57 30%, #94e6a3 60%);
    background: radial-gradient(ellipse farthest-side at right center, #3e9e57 10%, #94e6a3 90%);
}

.right-ear {
    border-radius: 100% 30% 120% 10% / 40% 20% 130% 100%;
    transform: rotate(-20deg);
    background: radial-gradient(ellipse farthest-side at left center, #3e9e57 10%, #94e6a3 90%);
}  

    /* EARS - inside - Front side*/

.in-left, .in-right {
    z-index: 2;
    width: 2em;
    height: 3.5em;
}

.in-left { 
    border-radius: 30% 130% 10% 150% / 20% 40% 100% 130%;
    margin: 1.2rem 0rem 0rem 1rem;
    background: #73C0FF;
    border: solid 0.3rem rgb(107, 169, 255);
    background: linear-gradient(80deg,#73C0FF 0%, #328bff 120%);
}

.in-right {
    border-radius: 130% 30% 150% 10% / 40% 20% 130% 100%;
    margin: 1.2rem 0rem 0rem 0.6rem;
    border: solid 0.3rem var(--blue);
    background: linear-gradient(-80deg,#73C0FF 0%, #328bff  120%);
}


/* EGG */ 

.egg {
    width: 16em;
    height: 18.5em;
    border-radius: 50% 50% 50% 50% / 65% 65% 40% 40%;
    background-color: #65b77b;
    background: radial-gradient(circle farthest-corner at top center, #94e6a3 40%, #60ad76 100%);
    margin-top: -4.5em;
    z-index: 3; 
}

    /* EGG - Front side*/

.camera {
    height:4.8rem;
    width: 1.7rem;
    display: flex;
    align-items: end;
    justify-content: center;
}

.lens {
    height: 1.3rem;
    width: 1rem;
    background-color: rgb(87, 87, 87);
    border-radius: 50%;
    border: 0.3rem solid rgb(79, 79, 79);
    background: radial-gradient(circle farthest-side at top center, #717171 30%,#4F4F4F 80%);
}

.bright-lens {
    height: 0.3rem;
    width: 0.3rem;
    background-color: rgba(255, 255, 255, 0.353);
    border-radius: 50%;
    box-shadow: 0 0 0.3em 0.15em rgba(255, 255, 255, 0.353);
    transform: translate(0.15rem, 0.25rem);
}

.face {
    height: 4rem;
    width: 11.5rem;
    display: flex;
    justify-content: space-between;
    margin-top: -0.8em;
}

.mouth {
    width: 2.5rem;
    height:1.3rem;
    background-color: brown;
    margin-top: 1.2em;
}

.cheek-left, .cheek-right{
    display: flex;
}

.moustache {
    width: 2.4rem;
    height: 2.4rem;
    align-self: flex-end;
}

.mous1, .mous2 {
    background-color: var(--pink);
    border-radius: 1em;
    height: 0.35rem;
}

.mous1 {
    width: 2.4rem;
    transform: rotate(7deg);
}

.mous2 {
    width: 1.8rem;
    transform: rotate(-20deg);
    margin:0.8em;
}

.mous-right {
    transform: scaleX(-1);
}

.eye {
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    background-color: var(--pink);
    background: radial-gradient(circle farthest-side at top center, #ffbad1 30%, #ff9fbf 80%);
    border: solid 0.25rem var(--pink);
}

    /* EGG - Controls - Front side*/

.rectangle {
    display:flex;
    height: 2.2rem;
    width: 13rem;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 0.3rem;
}

.button-front {
    height: 2.2rem;
    width: 2.4rem;
    background-color: #6dc384;
    border-radius: 50%;
    z-index: 5;
    justify-content: center;
}

.press-front {
    height: 1.7rem;
    width: 1.9rem;
    background: radial-gradient(circle farthest-side at top center, #94e6a3 50%, #6dc384 100%);
    border-radius: 50%;
}

.base {
    height: 5.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: -1.7em;
}

.left-hand, .right-hand {
    height: 6.7rem;
    width: 6.7rem;
    border-radius: 50%;
    background-color: var(--beige);
    z-index: 4;
    justify-content: center;
}

.middle {
    width: 5.5rem;
    height: 6rem;
    background-color: var(--beige);
    margin-left: -3rem;
    margin-right: -3rem;
    z-index: 3;
}

.curve {
    width:3rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #72c188 ;
    z-index: 5;
    margin:0.2rem;
}

        /* Controls - Left cross - Front side*/

.cross-box {
    width: 4rem;
    height: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
}

.cross-full {
    background-color: var(--purple);
}

.cross-up {
    border-radius: 0.25rem 0.25rem 0 0;
    box-shadow: 0 0 0.05em 0.2rem var(--green);
    z-index: 5;
}

.cross-right {
    border-radius: 0 0.25rem 0.25rem 0;
    box-shadow: 0 0 0.05em 0.25rem var(--green);
    
}

.cross-down {
    border-radius: 0 0 0.25rem 0.25rem;
    box-shadow: 0 0 0.05em 0.25rem var(--green);
    z-index: 5;
}

.cross-left {
    border-radius: 0.25rem 0 0 0.25rem;
    box-shadow: 0 0 0.05em 0.25rem var(--green); 
}

.cross-center {
    border-radius: 20% / 10%;;
    box-shadow: 0 0 0.05em 0.23rem var(--purple);
    z-index: 6;
}

        /* Controls - Right cross - Front side*/


.cross-box-right .cross-full {
    border-radius: 50%;
    width: 0.9rem;
    height: 0.9rem;
}

.cross-box-right .cross-up {
    background-color: var(--orange);
}

.cross-box-right .cross-right {
    margin-top: 0.2rem;
    background-color: rgb(255, 255, 124);   
}

.cross-box-right .cross-down {
    margin-top: 0.4rem;
    background-color: rgb(255, 255, 124);
}

.cross-box-right .cross-left {
    margin-top: 0.2rem;
    background-color: var(--orange);
}

    /* EGG - Zigzag - Back side*/

.zigzag {
    width: 10.5rem;
    height: 4em;
    display:block;
    background: linear-gradient(
        45deg, transparent 33.33%,
        var(--green) 33.33%, var(--green) 66.66%, 
        transparent 66.66%
        ),
        linear-gradient(
        -45deg, transparent 33.33%,
        var(--green) 33.33%, var(--green) 66.66%, 
        transparent 66.66%
        );
    background-size: 3.5em 9em;
    transform: rotate(180deg);
    margin-top: 3em;
}

    /* EGG - Screen - Back side*/
    

.screen {
    width: 13em;
    height: 14.5em;
    border-radius: 50% 50% 50% 50% / 65% 65% 40% 40%;
    background-color: rgb(255, 241, 172);
    margin-top: -4em;
}

.screen-up {
    height: 4em;
}

.screen-center {
    width: 8em;
    height: 7em;
    background-color: var(--beige);
    border-radius: 0.5em;
    display:grid;
    grid-template-columns: 32*1fr;
    grid-template-rows: 16*1fr;
}

.screen-down {
    width: 6.5em;
    height: 2.1em;
    border-radius: 0.5em;
    display:flex;
    justify-content: space-between;
    margin:0.6em
}

.button {
    width: 1.4em;
    height: 1.4em;
    background-color: rgb(179, 102, 44);
    border-radius: 50%;
}

.screen-down div:nth-child(2) {
    align-self: flex-end;
}

.false-button {
    width: 2em;
    height: 2em;
    background-color: rgb(255, 161, 89);
}

.false-button:hover {
    width: 2em;
    height: 2em;
    background-color: rgb(255, 161, 89);
    border-radius: 0%;
    transform: translate(4em,);

}
.button:hover {
   
}
