:root {
    --green: rgb(148, 230, 163);
    --blue: rgb(115, 192, 255);
    --pink:rgb(255, 159, 191);
    --purple: rgb(205, 152, 255);
    --orange: rgb(255, 157, 45);
    --beige: rgb(255, 255, 237);
}

/* Base Structure */

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/paper.jpg) no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100%;   
}

.full {
    margin: 2em;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.between {
    display: flex;
    justify-content: space-between;
}


/* CHAIN */

.chain {
    height: 13em;
}

.up-chain {
    width: 2.4rem;
    height: 1rem;
    background-color: grey;
    margin-bottom: -0.7rem;
    background: linear-gradient(180deg,#b9b9b9 30%, #5e5e5e 100%);
    box-shadow: 0 0.2rem 0.2rem 0.05rem rgb(156, 143, 130);
}

.row-circle {
    width: 5.2rem;
    height: 0.85rem;
    display: flex;
    justify-content: space-between;
}

.row-square {
    width: 4.6rem;
    height: 0.3rem;
    display: flex;
    justify-content: space-between;
}

.down-chain {
    display:flex;
    align-items: flex-start;
    margin-top: -0.2rem;
}

.circle-chain {
    width: 0.85rem;
    height: 0.85rem;
    border-radius: 50%;
    background-color: grey;
    background: radial-gradient(circle farthest-side at top center, #acacac 20%,#4f4f4f 100%);
    box-shadow: 0 0.2rem 0.15rem 0.01rem rgb(156, 143, 130);
}

.square-chain {
    width: 0.2rem;
    height: 0.3rem;
    background-color: grey;
    background: linear-gradient(10deg,#909090 3%, #4f4f4f 80%);
}

.fix-chain {
    width: 0.5rem;
    height: 1.6rem;
    background-color: grey;
    background: linear-gradient(155deg,#a9a9a9 20%, #4f4f4f 80%);
    box-shadow: -0.1rem 0.1rem 0.15rem 0.01rem rgb(156, 143, 130);
}

    /*/ Chain links - CHAIN /*/

.c-a, .c-b, .c-k, .c-l, .c-m {
    margin-bottom: -0.1rem;
}    

.c-a {
    width: 4.1rem;
}

.c-b {
    width: 3.9rem;
}

.c-b div:first-child{
    transform: rotate(20deg);
}

.c-b div:nth-child(2) {
    transform: rotate(-20deg);
}

.c-c {
    width: 4.9rem;
}

.c-d {
    width: 4.45rem;
}

.c-d div:first-child, .c-i div:nth-child(2) {
    transform: rotate(10deg);
}

.c-d div:nth-child(2), .c-i div:first-child {
    transform: rotate(-10deg);
}
.c-e {
    width: 4.5rem;
}

.c-f {
    width: 5rem;
}
.c-g {
    width: 4.3rem;
    margin-bottom: -0.05rem;
}
.c-g div:first-child{
    transform: rotate(-5deg);
}

.c-g div:nth-child(2) {
    transform: rotate(5deg);
}

.c-h {
    width: 4.7rem;
}
.c-i {
    width: 4rem;
    margin-bottom: -0.05rem
} 

.c-j {
    width: 4.4rem;
    margin-bottom: -0.05rem;
}

.c-k {
    width: 3.3rem;
}

.c-k div:first-child{
    transform: rotate(-18deg);
}

.c-k div:nth-child(2) {
    transform: rotate(18deg);
} 

.c-l {
    width: 3.4rem;
}
.c-m {
    width: 2.3rem;
}

.c-m div:first-child{
    transform: rotate(-25deg);
}

.c-m div:nth-child(2) {
    transform: rotate(25deg);
}


/* EARS */ 

.ears {
    z-index: 1;
    height: 6em;
    width: 13em;
    margin-top: -2em;
}

.right-ear, .left-ear {
    width: 4em;
    height: 8em;
    background-color: var(--green);
    box-shadow: 0 0.5rem 0.4rem 0.15rem rgb(167, 153, 139);
}

.left-ear {
    border-radius: 30% 100% 10% 120% / 20% 40% 100% 130%;
    transform: rotate(20deg);
    background: linear-gradient(-60deg,#3e9e57 30%, #94e6a3 60%);
    background: radial-gradient(ellipse farthest-side at right center, #3e9e57 10%, #94e6a3 90%);
}

.right-ear {
    border-radius: 100% 30% 120% 10% / 40% 20% 130% 100%;
    transform: rotate(-20deg);
    background: radial-gradient(ellipse farthest-side at left center, #3e9e57 10%, #94e6a3 90%);
}  

    /*/ EARS - Inner part - Front side /*/

.in-left, .in-right {
    z-index: 2;
    width: 2em;
    height: 3.5em;
    box-shadow: 0 0.5rem 0.2rem 0.01rem rgb(91, 151, 116);
}

.in-left { 
    border-radius: 30% 130% 10% 150% / 20% 40% 100% 130%;
    margin: 1.2rem 0rem 0rem 1rem;
    background: #73C0FF;
    border: solid 0.3rem rgb(107, 169, 255);
    background: linear-gradient(80deg,#73C0FF 0%, #328bff 120%);
}

.in-right {
    border-radius: 130% 30% 150% 10% / 40% 20% 130% 100%;
    margin: 1.2rem 0rem 0rem 0.6rem;
    border: solid 0.3rem var(--blue);
    background: linear-gradient(-80deg,#73C0FF 0%, #328bff  120%);
}


/* EGG */ 

.egg {
    width: 16em;
    height: 18.5em;
    border-radius: 50% 50% 50% 50% / 65% 65% 40% 40%;
    background-color: #65b77b;
    background: radial-gradient(circle farthest-corner at top center, #94e6a3 40%, #71bb86 100%);
    margin-top: -4.5em;
    z-index: 3;
    box-shadow: 0 0.35rem 0.5rem 0.18rem rgb(141, 129, 117);
    box-shadow: inset 0 -0.7rem 0.7em 0.15em #5dac72;
}

.last-shadow {
    width: 16em;
    height: 18.5em;
    border-radius: 50% 50% 50% 50% / 65% 65% 40% 40%;
    box-shadow: 0 0.35rem 0.5rem 0.18rem rgb(141, 129, 117);
    transform: translate(0rem,-16.7rem);
    z-index: 1;
}

.shadow-back {
    margin-top: -0.8rem;
    z-index: 1;
}

    /*/ Front side - EGG /*/

.camera {
    height:4.8rem;
    width: 2rem;
    display: flex;
    align-items: end;
    justify-content: center;
}

.lens {
    height: 1.1rem;
    width: 1rem;
    background-color: rgb(87, 87, 87);
    border-radius: 50%;
    box-shadow: inset 0.1em 0.3em 0.1em 0.3em rgb(47, 47, 47);
    background: radial-gradient(circle farthest-side at top center, #696969 30%,#4F4F4F 80%);
    border: solid 0.3rem rgb(38, 38, 38);
    box-shadow: 0 0.05em 0.1rem 0.05rem rgb(91, 151, 116);
    box-shadow: inset 0 0 0.1em 0.15em rgb(61, 61, 61);
}

.bright-lens {
    height: 0.3rem;
    width: 0.3rem;
    background-color: rgba(255, 255, 255, 0.353);
    border-radius: 50%;
    box-shadow: 0 0 0.3em 0.15em rgba(255, 255, 255, 0.353);
    transform: translate(0.15rem, 0.25rem);
}

.face {
    height: 4rem;
    width: 11.5rem;
    margin-top: -0.8em;
}

.mouth {
    width: 2.5rem;
    height:1.3rem;
    background: url(../img/sonrisita.png) no-repeat;
    background-size: contain;
    margin-top: 1.5em;
}

.cheek-left, .cheek-right{
    display: flex;
}

.moustache {
    width: 2.4rem;
    height: 2.4rem;
    align-self: flex-end;
}

.mous1, .mous2 {
    background-color: var(--pink);
    border-radius: 1em;
    height: 0.35rem;
    box-shadow: 0 0.1em 0.17rem 0.01rem rgb(115, 177, 141);
}

.mous1 {
    width: 2.4rem;
    transform: rotate(7deg);
}

.mous2 {
    width: 1.8rem;
    transform: rotate(-20deg);
    margin:0.8em;
}

.mous-right {
    transform: scaleX(-1);
}

.eye {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    background-color: var(--pink);
    box-shadow: 0 0.1em 0.18rem 0.02rem rgb(91, 151, 116);
    background: radial-gradient(circle farthest-side at top center, rgb(255, 182, 206) 50%,var(--pink) 100%);   
}


        /*// Controls - Front side - EGG//*/

.rectangle {
    height: 2.2rem;
    width: 13rem;
    align-items: flex-end;
    margin-top: 0.3rem;
}

.button-front {
    height: 2.2rem;
    width: 2.4rem;
    border-radius: 50%;
    z-index: 5;
    justify-content: center;
    background: radial-gradient(circle farthest-side at top center, #77cd8e 55%, #5dac72 100%);
    box-shadow: 0 0.2em 0.20rem 0.05rem rgb(91, 151, 116);
}

.base {
    height: 5.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    border-radius: 13rem / 9rem;
    margin-top: -1.7em;
}

.left-hand, .right-hand {
    height: 6.7rem;
    width: 6.7rem;
    border-radius: 50%;
    background-color: var(--beige);
    z-index: 4;
    justify-content: center;
}

.middle {
    width: 5.5rem;
    height: 6rem;
    background-color: var(--beige);
    margin-left: -3rem;
    margin-right: -3rem;
    z-index: 3;
}

.curve {
    width:3rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #81ca96 ;
    z-index: 5;
    margin:0.2rem;
}

            /*/// Left cross - Controls - Front side - EGG ///*/

.cross-box {
    width: 4rem;
    height: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; 
}

.cross-full {
    background-color: var(--purple);
}

.cross-up {
    border-radius: 0.25rem 0.25rem 0 0;
}

.cross-right {
    border-radius: 0 0.25rem 0.25rem 0;
}

.cross-down {
    border-radius: 0 0 0.25rem 0.25rem;
}

.cross-left {
    border-radius: 0.25rem 0 0 0.25rem;
}

            /*/// Right cross - Controls - Front side - EGG ///*/

.cross-box-right .cross-full {
    border-radius: 50%;
    width: 1.2rem;
    height: 1.15rem;
    box-shadow: 0 0.1em 0.15rem 0.01rem rgb(153, 143, 120);
}

.cross-box-right .cross-up {
    background-color: #ff9900;
    background: radial-gradient(circle farthest-side at top center, #ffb13c 40%, #ff9900 100%);
}

.cross-box-right .cross-right {
    margin-top: 0.2rem;
    background-color: rgb(255, 109, 56); 
    background: radial-gradient(circle farthest-side at top center, rgb(255, 135, 92) 50%, rgb(255, 109, 56) 100%);
}

.cross-box-right .cross-down {
    margin-top: 0.2rem;
    background-color: #14D0DB;
    background: radial-gradient(circle farthest-side at top center, #70e7ed 50%, #14D0DB 100%);
}

.cross-box-right .cross-left {
    margin-top: 0.2rem;
    background-color: #15aeb3;
    background: radial-gradient(circle farthest-side at top center, #2ac9bc 50%, #15aeb3 100%);
}

    /*/ Back side - EGG /*/

.zigzag {
    width: 10.5rem;
    height: 4em;
    display:block;
    background: linear-gradient(
        45deg, transparent 33.33%,
        var(--green) 33.33%, var(--green) 66.66%, 
        transparent 66.66%
        ),
        linear-gradient(
        -45deg, transparent 33.33%,
        var(--green) 33.33%, var(--green) 66.66%, 
        transparent 66.66%
        );
    background-size: 3.5em 9em;
    transform: rotate(180deg);
    margin-top: 3em;
}

        /*// Screen - Back side - EGG //*/
    
.screen {
    width: 13em;
    height: 14.5em;
    border-radius: 50% 50% 50% 50% / 65% 65% 40% 40%;
    background-color: rgb(255, 241, 172);
    margin-top: -4em;
    box-shadow: inset 0.02em -0.13em 0.30rem 0.05rem rgb(163, 158, 122);
}

.screen-up {
    height: 4em;
}

.screencenter {
    width: 8em;
    height: 7em;
    background-color: var(--beige);
    border-radius: 0.5em;
    box-shadow: inset 0.02em -0.07em 0.30rem 0.12rem rgb(195, 192, 178);   
}

.tamagotchi {
    transform: scale(65%);
    margin-left: -1.8rem;
    margin-top: -1rem;
}

.screen-down {
    width: 6.5em;
    height: 2.1em;
    border-radius: 0.5em;
    margin:0.6em
}

.button {
    width: 1.3em;
    height: 1.3em;
    background: radial-gradient(circle farthest-side at top center, #70e7ed 50%, #14D0DB 100%);
    border-radius: 50%;
    box-shadow: 0 0.1em 0.15rem 0.01rem rgb(163, 158, 122);
    cursor: pointer;
    z-index: 6;
}

.screen-down div:nth-child(2) {
    align-self: flex-end;
    background-color: var(--orange);background: radial-gradient(circle farthest-side at top center, rgb(255, 177, 31) 50%, var(--orange) 100%);
}

.button:hover {
    width: 1.3em;
    height: 1.3em;
    background: radial-gradient(circle farthest-side at top center, #7ccace 50%, #137d82 100%);
    z-index: 6;
}

.screen-down div:nth-child(2):hover {
    background: radial-gradient(circle farthest-side at top center, #cb7360 50%, #7a2015 100%);
}

