body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;  
    gap:2em; 
}

.full {
    width: 16em;
    height: 40em;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    background-color: aqua;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chain {
    width: 5.5em;
    height: 15em;
    background-color: blueviolet;
}

.tama {
    width: 16em;
    height: 18.5em;
    border-radius: 50% 50% 50% 50% / 65% 65% 40% 40%;
    background-color: rgb(158, 123, 191);
    margin: 0;
    align-items: center;
}

.footer {
    width: 12em;
    height: 6em;
    background-color: black;
}

.ears {
    height: 6em;
    width: 14.5em;
    margin-top: -2.7em;
    display: flex;
    justify-content: space-between;
}

.right-ear {
    width: 4.5em;
    height: 8em;
    background-color: #4b524b;
    border-radius: 80% 90% 10% 150% / 10% 30% 100% 150%;
    transform: rotate(30deg);

}

.left-ear {
    
}
   